.body {
    background-color: rgb(242, 243, 219);
    color: rgb(0, 0, 0);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-transform: none;
    text-align: center;
    font-size: 54px;
    border: #597007;
    font-family: 'Times New Roman', Times, serif;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: #849153;
    color: rgb(238, 240, 241);
  text-align: center;
}


.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 5px;
    color: rgb(234, 243, 245);
    font-weight: lighter;
}

.card-image {
    height: 180px;
}

.first{
    padding: 20px;
    font-size: large;
}
a{
    text-decoration: none;
    background-color: #849153;
    padding: 5px;
    color: rgb(254, 249, 249);
    font-family: Arial, Helvetica, sans-serif;
}






